.create {
    margin-top: 50px;
    font-weight: bold;
}

.create > form {
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 50px 150px 50px 150px;
    font-weight:400;
}

.create__lable {
    display: flex;
    gap: 25px;
}

.create__lable > input {
    width: 378px;
}

form > label {
    text-align: start;
    padding-top: 15px;
}

 .create__btn {
    width: 75px;
    margin-top: 50px;
    margin-left: 15px;
}