.create {
  font-weight: bold;
}

.create > form {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  padding: 0 30px 30px 30px;
}

.create__title {
  text-align: start;
  padding: 30px;
}
.create__lable {
  display: flex;
  justify-content: space-between;
}

.create__lable > input {
  width: 500px;
  height: 30px;
}

form > label {
  text-align: start;
  padding-top: 15px;
}

form > input {
    height: 30px;
}

.create__btn1,
.create__btn2 {
  width: 100px;
  margin-top: 50px;
  margin-left: 15px;
  height: 30px;
}
