.registar {
  text-align: center;
  padding-bottom: 25px;
}

.option {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
}

.title__raffle {
  font-size: 2em;
  margin: 25px;
}
